table.head {
    border-style: solid;
    border-width: 0 0 1px 0;
    font-weight: bold;
    margin-bottom: 2em;
    width: 100%;
}
td.head-ltitle {
    text-align: left;
}
td.head-vol {
    text-align: center;
}
td.head-rtitle {
    text-align: right;
}

table.foot {
    border-style: solid;
    border-width: 1px 0 0 0;
    font-weight: bold;
    margin-top: 2em;
    width: 100%;
}
td.foot-date {
    text-align: left;
}
td.foot-os {
    text-align: right;
}

h1.Sh {
    margin-top: 1em;
}
a.permalink {
    text-transform: initial;
    text-decoration: none;
}

dl {
    margin-left: 1em;
}
dl dd {
    margin-left: 2em;
}

pre {
    padding: 1em;
    background: #eee;
}
